{% extends 'todo/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="block text-center" style="margin-top: 20%;">
        Welcome to <b>GMS Todo</b>, your ultimate destination for efficient task management and productivity. Whether you're a busy professional, a diligent student, or someone simply looking to organize your life, GMS Todo is here to help you stay on top of your tasks and make the most of your time.
        <p></p><a class="my-btn btn" href="{% url 'signupuser' %}">Start</a>
    </div>
</div>
{% endblock %}